*{
    padding:0;
    margin:0;
  }
  body{
    background:black;
  }
  .pagewrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100vw;
    
  }
  .backbtn{
    position: absolute;
    top:10%;
    left:3%;
    width: 100px;
    cursor: pointer;
  }
  .backbtn:hover{
    position: absolute;
    top:10%;
    left:3%;
    width: 100px;
    cursor: pointer;
    animation: wobble 1s alternate linear infinite;
  }
  @keyframes wobble{
    0%{transform: scale(1);}
    100%{transform: scale(0.8);}
  }
  #mainimage{
    width:350px;
    height:400px;
    position:absolute;
    opacity:1;
    transition: 1s all;
    z-index: 2;
  }
  #mainimage1{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage2{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage3{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage4{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  
  #mainimage5{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage6{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage7{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage8{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage9{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage10{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage11{
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  .imagediv{
    width:350px;
    height:400px;
  }
  .carouseldiv{
    display: none;
  }
  @media(max-width: 1050px) {
    .carouseldiv{
      display: block;
    }
    .imagediv{
      display:none;
      width:350px;
      height:400px;
    }

    #mainimage{
      display: none;
    width:35vw;
    height:50vh;
    position:absolute;
    opacity:1;
  }
    #mainimage1{
    display:none;
    width:35vw;
    height:50vh;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage2{
    display:none;
    width:35vw;
    height:50vh;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage3{
    display:none;
    width:35vw;
    height:50vh;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage4{
    display:none;
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  
  #mainimage5{
    display:none;
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage6{
    display:none;
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage7{
    display:none;
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage8{
    display:none;
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage9{
    display:none;
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage10{
    display:none;
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  #mainimage11{
    display:none;
    width:350px;
    height:400px;
    position:absolute;
    transform:translate(0vw);
    transition:1s all;
  }
  }

  
  