@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Playfair+Display+SC&display=swap');

*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;

}
body{
    background:#0D1213;
}
/* page */
.pagewrapper{
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:100vw;
    height:100vh;
  }
  .aligncenter{
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
  }
  
  .btn{
    padding: 1px;
    height:40px;
    width:40px;
    margin: 20px;
    font-size: 30px;
    color:white;
    background: rgb(255, 255, 255,0);
    border: solid 0px;
    border-radius:50px;
  }
  #btn1phn{
    display: none;
  }
  #btn2phn{
    display: none;
  }
  .btn:hover{
    height:40px;
    width:40px;
    margin: 20px;
    font-size: 30px;
    background: rgb(255, 255, 255,0);
    border: solid 3px;
    border-radius:50px;
  }
  
  .image{
    width:400px;
    height:500px;
    border-radius: 2px;
  }
  
  #img1{
  /*   display:none; */
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    transform:translateX(0vw);
    visibility: visible;
    transition:all 0.85s;
    transform:scale(1);
    filter:saturate(0);
    z-index: 2;
  }
  #img2{
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px) saturate(0);
    transform:translateX(50vw);
    visibility: visible;
    transition:all 0.85s;
    
  }
  #img3{
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px) saturate(0);
    transform:translateX(100vw);
    visibility: visible;
    transition:all 0.85s;
      
  }
  #img4{

    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px) saturate(0);
    transform:translateX(-50vw);
    visibility: visible;  
    transition:all 0.85s;
  }
  
  #imageplaceholder{
    width:400px;
    height:600px;
  }

  .YearTags{
    position: absolute;
    z-index: 3;
    color: #FFA500;
    font-size: 9vh;
    font-family: 'Playfair Display SC', sans-serif;;
    font-weight: 200px;
  }
  #twenty19{
    transform: translateY(240px);
    transition: all 1s;
  }
  #twenty20{
    transform: translateY(100vh);
    transition: all 1s;
  }
  #twenty21{
    transform: translateY(100vh);
    transition: all 1s;
  }
  #twenty22{
    transform: translateY(100vh);
    transition: all 1s;
  }



  @media (max-width: 450px) {
    .pagewrapper{
      margin: 0 auto;
      display:flex;
      flex-direction:column;
      justify-content:center;
      width:100vw;
      height:100vh;
    }
    .btn{
      height:40px;
      width:40px;
      margin: 20px;
      font-size: 30px;
      color:white;
      background: rgb(255, 255, 255,0);
      border: solid 0px;
      border-radius:50px;
    }
    #btn1{
      display: none;
    }
    .btnpic1{
      width:18px;

    }
    #btn2{
      display: none;
    }
    .btnpic2{
      width:18px;

    }
    #btn1phn{
      display: block;
    }
    #btn2phn{
      display: block;
    }
    .image{
        /* visibility: hidden;
        opacity: 0;
        display: none; */
        width:250px;
        height:350px;
        

    }
    #img1{
      display: block;
      opacity: 1;
      visibility: visible;
      filter: blur(0px );
      transform:translateX(0vw);
      z-index: 2;
    }
    #img2{
      display: block;
      opacity: 0;
      visibility: visible;
      filter: blur(0px);
      transform:translateX(0vw);
    }
    #img3{
      display: block;
      opacity: 0;
      visibility: visible;
      filter: blur(0px);
      transform:translateX(0vw);
    }
    #img4{
      display: block;
      opacity: 0;
      visibility: visible;
      filter: blur(0px);
      transform:translateX(0vw);
    }
    #imageplaceholder{
      width:250px;
      height:400px;
    }
    #twenty19{
      transform: translateY(240px);
      transition: all 1s;
      opacity: 1;
    }
    #twenty20{
      transform: translateY(240px);
      transition: all 1s;
      opacity: 0;
    }
    #twenty21{
      transform: translateY(240px);
      transition: all 1s;
      opacity: 0;
    }
    #twenty22{
      transform: translateY(240px);
      transition: all 1s;
      opacity: 0;
    }
  }
