*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    z-index: 1;
}
body{
    background:#0D1213;
    height: 200vw;
}

/* page */
.pagewrapper{
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:100vw;
    height:100vh;
  }
  .aligncenter{
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
  }
  
  .btn{
    height:40px;
    width:40px;
    margin: 20px;
    font-size: 30px;
    color:white;
    background: rgb(255, 255, 255,0);
    border: solid 0px;
    border-radius:50px;
  }
  #btn1phn{
    display: none;
  }
  #btn2phn{
    display: none;
  }
  .btn:hover{
    height:40px;
    width:40px;
    margin: 20px;
    font-size: 30px;
    background: rgb(255, 255, 255,0);
    border: solid 2px;
    border-radius:50px;
  }

  .image{
    width:400px;
    height:500px;
    border-radius: 2px;
  }
  
  #img1{
  /*   display:none; */
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    transform:translateX(0vw);
    visibility: visible;
    transition:all 0.85s;
    transform:scale(1);
  }
  #img2{
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px);
    transform:translateX(50vw);
    visibility: visible;
    transition:all 0.85s;
    
  }
  #img3{
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px);
    transform:translateX(100vw);
    visibility: visible;
    transition:all 0.85s;
      
  }
  #img4{

    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px);
    transform:translateX(-50vw);
    visibility: visible;  
    transition:all 0.85s;
  }
  
  #imageplaceholder{
    width:400px;
    height:600px;
  }

  @media (max-width: 900px) {
    .pagewrapper{
      margin: 0 auto;
      display:flex;
      flex-direction:column;
      justify-content:center;
      width:100vw;
      height:100vh;
    }
    .btn{
      height:40px;
      width:40px;
      margin: 20px;
      font-size: 30px;
      color:white;
      background: rgb(0, 0, 0,0);
      color: white;
      border: solid 0px;
      border-radius:50px;
    }
    #btn1{
      display: none;
    }
    #btn2{
      display: none;
    }
    #btn1phn{
      display: block;
    }
    #btn2phn{
      display: block;
    }
    .image{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    #img1{
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
