*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    z-index: 1;
}
body{
    background:#0D1213;
    height: 200vw;
}

/* page */
.page-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100vw;
    height:100vh;
  }
  .align-center{
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
  }
  
  .btn{
    height:40px;
    width:40px;
    margin: 20px;
    font-size: 30px;
    color:white;
    background: rgb(255, 255, 255,0);
    border: solid 0px;
    border-radius:50px;
  }
  
  .btn:hover{
    height:40px;
    width:40px;
    margin: 20px;
    font-size: 30px;
    background: rgb(255, 255, 255,0);
    border: solid 2px;
    border-radius:50px;
  }
  .image{
    width:400px;
    height:500px;
  }
  
  #img1{
  /*   display:none; */
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    transform:translateX(0vw);
    transition:all 1s;
    transform:scale(1);
  }
  #img2{
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px);
    transform:translateX(50vw);
    transition:all 1s;
    
    
  }
  #img3{
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px);
    transform:translateX(-50vw);
    transition:all 1s;
      
  }
  #img4{
    position:absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    filter:blur(10px);
    transform:translateX(-50vw);
    transition:all 1s;
    
    
  }
  
  #image-placeholder{
    width:400px;
    height:600px;
  }