@import './fonts.css';

.body{
    display: flex;
    flex-direction: column;
    background: url('../assets/back.png') #0D1213;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.header{
    display: flex;
    height: 10vh;
}

.container{
    display: flex;
    height: 60vh;
}

.footer{
    display: flex;
    background-color: transparent;
    height: 30vh;
    width: 30vw;
    padding: 0.1rem;
    align-self: flex-end;
    font-family: "Head";
    text-align: right;
    color: white;
}

.mainHead{
    display: block;
    font-size: 5rem;
    margin: 0px;
}

.subHead{
    display: block;
    font-size: 2rem;
    margin: 0px;
}

.footText{
    display:inline-flex;
    flex-direction: column;
    align-items: flex-end;
}


@media screen and (max-width: 768px) {
    .body{
        height: 100%;
        backdrop-filter: blur(10px);
    }
    .footer{
        padding-right: 2rem;
    }
    .footText{
        align-self:center;
        width: 30vw;
    }
    .mainHead{
        font-size: 3rem;
    }
    .subHead{
        font-size: 1.5rem;
    }
}
