@font-face {
    font-family: dmMono;
    src: url(../assets/DMMono-Regular.ttf);
}
body{
    position: fixed;
    background-color: #1e1e1e;
}
.parent{
    display: flex;
}
.heading{
    padding-bottom: 14px;
}

.text{
top:7px;
left:50px;
color:white;
position: absolute;
padding-bottom: 40px;
font-size:15px;
font-family: dmMono;
} 

.left{
    width: calc(50vw - 15px);
    position: relative;
    height: 100vh;
    left: 0px;


}
.right{
    width: calc(50vw - 15px);
    position: absolute;
    height: 100vh;
    right: 0px;
    transform: rotateY(180deg);
    
}
.cen{
    width: 20px;
}
.v1{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;

    left: 20px;
}
.v2{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;

    right: 0px;
}
.v3{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;
    right: 50px;
}

.h1{
    background-color: #667987;
    height: 1px;

    width: 100%;

    position: absolute;
    bottom: 50px;
    left: 20px;
}
.h2{
    background-color: #667987;
    height: 1px;

    width: 100%;

    position: absolute;
    top: 30px;
    left: 20px;


}
.h3{
    background-color: #667987;
    height: 1px;

    width: 100%;

    position: absolute;
    top: 50px;
    left: 20px;


}


    .circlesContainer {
        position: absolute;
        top: 8px;
        right: 30px;
        display: flex;
        gap: 10px;
      }
      
      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #0078D4;
      }
      .circle2{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #A3C5DF;
      }
      .rotatedTextContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 30%;
        transform: translateY(-50%);

    }
    
    .rotatedText {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 15px;
        color: white;
        margin: 0;
        font-family: dmMono;
    }
    .icon {
        position: absolute;
        width: 20px;
        height: 15px;
        cursor: pointer;
        bottom: 7%;
        left: -0.3%;
      }
      
      .arrow {
        position: absolute;
        top: 6.25px;
        width: 150%;
        height: 2.5px;
        background-color: #fff;
        box-shadow: 0 0.75px 1.25px rgba(0, 0, 0, 0.2);
        transform: rotate(90deg);
      }
      
      .arrow::after, .arrow::before {
        content: '';
        position: absolute;
        width: 37.5%;
        height: 2.5px;
        right: -2px;
        background-color: #fff;
      }
      
      .arrow::after {
        top: -3px;
        transform: rotate(45deg);
      }
      
      .arrow::before {
        top: 3px;
        box-shadow: 0 0.75px 1.25px rgba(0, 0, 0, 0.2);
        transform: rotate(-45deg);
      } 
      
      

.triangle{
    top : 5px;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
    z-index: 2;
    border-right:10px solid #0078D4; 
    position: absolute;
    margin-left:5px ;
    margin-top: 4px;
}

.bluetext{
    position: absolute;
    bottom: 1%;
    left: 3.5%;
    color: #0078D4;
    font-family: dmMono;
}





@media screen and (max-width: 425px){
    .v2{
        right:-13px;
    }
    .v3{
        right:0px;
    }
    .text{
        left:26px;
        top:5px;
        font-size: 13px;
    }
}
@media screen and (max-width:320px){
    .v2{
        right:-13px;
    }
    .v3{
        right:0px;
    }
    .text{
        left:26px;
        top:-5px;
        font-size:11px;
    }
}
