@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
.ourteam {
  width: 100%;
  /* margin-top: 5rem; */
  min-height: 100vh;
  background-color: black;
  margin-bottom: 180px;
  overflow: hidden;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heading {
  position: fixed;
  width: 344px;
  height: 205px;
  /* top: 50%;
  margin-top: -102px; */

  top: 34%;
  left: 1%;

  z-index: 1;
  /* margin-left: 2.4%; */
  /* margin-top: -30%; */

  /* -------------------- */
  font-family: "Myanmar Khyay";
  font-style: normal;
  font-weight: 300;
  font-size: 5.5rem;
  line-height: 100.3%;
  color: #fff6eb;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* text-decoration: none; */
  list-style-type: none;
  z-index: 13;
  margin-left: 7%;
  /* flex-wrap: wrap; */
  /* position: absolute; */
}
/* -----------------NAVIGATION BAR----------------- */
.navbar li {
  /* flex:1; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 63.3%;
  color: white;
  /* text-decoration: none; */

  padding-top: 2%;
  margin-right: 5%;
  z-index: 1;
}
.navbar li :hover {
  color: rgb(192, 182, 182);
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar p:hover {
  cursor: pointer;
}
.navbar a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #8c8c8c;
}


/* .navbar li:active {
  text-decoration: none;
  border-bottom: 5px;
    border-bottom-style: solid;
  border-color: #fa3966;
  padding-bottom: 1%;
} */

/* .firstcomp {
  margin-left: 26vw !important;
} */
/* ----------------Graphics----------- */
.graphicsdiv {
  display: flex;
  /* flex-wrap: wraps; */
  flex-wrap: nowrap;
}
.image7 {
  position: fixed;
  width: 35px;
  height: 116px;
  left: 1%;
  top: 14%;
}
.topright {
  position: fixed;
  top: 0;
  right: 0;
}
.bottomleft {
  position: fixed;
  bottom: 0;
  /* width:80%; */
}

.image8 {
  position: fixed;
  width: 35px;
  height: 116px;
  top: 58%;
  left: 10%;
  /* top: 0; */
  margin-top: 0;
  transform: rotate(90deg);
}
.group59 {
  position: fixed;
  width: 41.17px;
  height: 173px;
  right: 2%;
  top: 65%;
}
/* ----------------CARD-------------------- */
.wrapper {
  padding-top: 5%;
  margin-left: 27%;
  display: grid;
  width: 50%;
  /* -----------------FIXED HOVER ISSUE------------------------ */
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem)); */
  grid-template-columns: 186px 181px 183px 182px;
  grid-auto-rows: 339px;
  /* gap: 5rem; */
  column-gap: 3rem;
  row-gap: 2.75rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 12%;
  animation: fadeIn 1s;
}

.card {
  /* overflow: hidden; */
  /* height: 250px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  /* width:20%;*/
  transition: transform 200ms ease-in;
  animation: fadeIn 5s;
}

.card__body {
  /* position: absolute; */
  height: 16rem;
  background-color: #26282a;
  border: #fff6eb solid 1px;
  border-radius: 18px;
  /* max-height: 12rem; */
  overflow: hidden;
  width: 105%;
}

.card__image {
  /* position: absolute; */
  height: 16.2rem;
  width: 88%;
  /* z-index: 2; */
  /* object-fit:cover; */
  /* background-color: #26282A; */
  position: relative;
  right: -12px;
  top: 26px;
}
.card__title {
  /* padding: 0.2rem; */
  font-size: 90%;
  padding-top: 5%;
  font-family: Poppins;

  color: #ffffff;
}
.card__description {
  padding: 0 1rem;
}
.card__btn {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  /* margin: 1rem; */
  margin-top: -8px;
  border: none;
  background: transparent;
  transition: background 200ms ease-in, color 1s ease-in;
}

/* .card:hover .card__image {
  transform-origin: bottom;
   transform: translate(0px,-20px); 
  transform: scale(1.15);
  overflow: visible;
  transition: 0.55s;
  width: 80%;
  position: relative;
  left: 18px;
}
.card:hover .card__body {
  transform: scale(1.0);
  overflow: visible;
  transition: 0.85s;
  border: #fa3966 solid 1px;} */

/* .card:hover .card__btn {
  display: block;
  transition: 0.7s;
  position: relative;
  bottom:-10px;
} */
.card > .card__title {
  color: white;
  display: block;
  position: relative;
}
/* .card:hover .card__image {
  transform-origin: bottom;
   
  transform: scale(1.15);
  overflow: visible;
  transition: 0.55s;
  width: 80%;
  position: relative;
  left: 18px;
  height: 89.5%;
  border-radius: 4px;
}
.card:hover .card__body {
  transform: scale(1.0);
  overflow: visible;
  transition: 0.85s;
  border: #fa3966 solid 1px;}  */


/* .card:hover .card__image {
  filter: saturate(100%);
  transition: 0.7s;
} */
/* .container{
  
} */
hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
}

  @media screen and (min-width: 1100px) and (max-width: 2500px) {
    .clicked {
      /* font-weight: bold;  */
      color: darkgray; 
      text-decoration: underline palevioletred;
      font-size: 2.5rem;
    }
    .card__image{
      height: 14.8rem;
      width: 88%;
      position: relative;
  right: -12px;
  top: 26px;
    }
    .card:hover .card__image {
      transform-origin: bottom;
       
      transform: scale(1.25);
      overflow: visible;
      transition: 0.6s;
      width: 78%;
      position: relative;
      left: 20px;
      height: 89.5%;
      border-radius: 4px;
    }
    .card:hover .card__body {
      transform: scale(1.25);
      overflow: visible;
      transition: 0.6s;
      border: palevioletred solid 1px;
    } 
    .card:hover .card__title {
      transform: scale(1.1) translateY(25px);
      transition: 0.6s;
    } 
    .card:hover .card__btn {
      transform: scale(1.0) translateY(25px);
      transition: 0.6s;
    } 
  }
  
  


@media (max-width: 1100px) {
  .navbar li {
    font-size: 1.8rem;
  }
  .clicked {
    /* font-weight: bold;  */
    color: darkgray;
    text-decoration: underline palevioletred;
    font-size: 2.5rem;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 180px 180px;
  }

  .navbar {
    margin-left: 15%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 26%;
  }
  .ourteam_wrapper {
    margin-left: 22% !important;
  }
  .heading {
    width: 99vw;
    text-align: center !important;
    margin: 0 auto;
    position: absolute;
    font-size: 4rem;
    top: 30px;
  }
  .topright {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.4;
  }
  .bottomleft {
    opacity: 0.4;
  }
  .navbar {
    margin-right: auto;
    margin-left: 4vw;
    justify-content: center;
  }
  .navbar li {
    font-size: 1.5rem;
    margin-top: 17%;
  }
  .image7 {
    display: none;
  }
  .image8 {
    display: none;
  }
  .clicked {
    font-weight: bold; /* Example styling: Make the text bold for the clicked button */
    color: darkgray; /* Example styling: Set the text color to red for the clicked button */
    text-decoration: underline palevioletred;
    font-size: 1.65rem;
  }
}

@media (max-width: 530px) {
  .card {
    height: 250px;
  }
  .group59 {
    position: fixed;
    width: 41.17px;
    height: 173px;
    right: 2%;
    top: 65%;
    opacity:0.35;
  }
  .topright {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.4;
  }
  .bottomleft {
    opacity: 0.4;
  }

  .wrapper {
    /* grid-template-columns: 180px ; */
    grid-template-columns: 140px 140px;
    grid-auto-rows: 210px;
    column-gap: 50px;
    margin-left: 25%;
    row-gap:8vh;
    margin-top:2vh;
    height: 1100px;
  }
  .ourteam_wrapper__OmWwJ {
    position: relative;
    top: 46px;
  }
  .navbar {
    display: grid;
    grid-template-columns: 151px 142px;
    /* margin-left: 5%; */
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 0.5rem;
    text-align: center !important;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
  }
  .card__image{
    height: 9.8rem;
    width: 88%;
    position: relative;
right: -12px;
top: 17px;
  }
  .card:hover .card__image {
    transform-origin: bottom;
     
    transform: scale(1.20);
    overflow: visible;
    transition: 0.55s;
    width: 78%;
    position: relative;
    left: 20px;
    height: 89.5%;
    border-radius: 4px;
  }
  .card:hover .card__body {
    transform: scale(1.0);
    overflow: visible;
    transition: 0.85s;
    border: palevioletred solid 1px;
  } 
  .members1 {
    margin-bottom: 150px;
  }
  li {
    background-color: #6868689f !important;
    padding: 12px 12px 12px 12px !important;
    border-radius: 25px !important;
    margin-right: 0px !important;
  }

  a {
    font-size: 1.25rem;
  }
  .image7 {
    display: none;
  }
  .image8 {
    display: none;
  }
  /* .ourteam_card__75gtz:hover .ourteam_card__image__ZtcNY {

    transform-origin: bottom;
   
    transform: scale(0);
    overflow: visible;
    transition: 0.55s;
    width: 80%;
    position: relative;
    left: 18px;
    height: 166px;
  } */
  .clicked {
    font-weight: bold; 
    color: darkgray; 
    text-decoration: underline palevioletred;
    font-size: 1.4rem;
  }
}
@media (max-width: 400px) {
  .navbar {
    margin-top: 25% !important;
  }
  .group59 {
    position: fixed;
    width: 41.17px;
    height: 173px;
    right: 2%;
    top: 65%;
     z-index: -1; 
   
  }
  .topright {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.4;
  }
  .bottomleft {
    opacity: 0.4;
  }

  .ourteam_card__image__ZtcNY {
    height: 169px;
    /* width: 85%;
    position: relative; */
    right: -12px;
    top: 20px;
  }
  .wrapper {
    margin-left: 24%;
    height: 1100px;
  }
  .ourteam_wrapper__OmWwJ {
    margin-left: 26%;
    position: relative;
    top: 31px;
    grid-template-columns: 113px 137px;
  }
  .ourteam_wrapper {
    margin-left: 22% !important;
  }
  .heading {
    width: 99vw;
    text-align: center !important;
    margin: 0 auto;
    position: absolute;
    font-size: 4rem;
    top: 30px;
  }
  .navbar {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
  .navbar li {
    font-size: 1.5rem;
    margin-top: 17%;
  }
  .image7 {
    display: none;
  }
  .image8 {
    display: none;
  }
  .ourteam_heading__otokg {
    position: relative;
    height: 45px;
  }
  .clicked {
    color: whitesmoke; 
    text-decoration: underline palevioletred;
    font-size: 1.4rem;
  }
}

@media (max-width: 1000px) {
  .emptyCard {
    display: none;
  }
}
