.ourteam {
  width: 100%;
  min-height: 100vh;
  background-color: #0d1213;
  margin: 0px;
  overflow: hidden;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.heading {
  position: fixed;
  width: 344px;
  height: 205px;
  /* top: 50%;
  margin-top: -102px; */

  top: 34%;
  left: 1%;

  z-index: 1;
  /* margin-left: 2.4%; */
  /* margin-top: -30%; */

  /* -------------------- */
  font-family: "Myanmar Khyay";
  font-style: normal;
  font-weight: 300;
  font-size: 5.5rem;
  line-height: 100.3%;
  color: #fff6eb;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
  display: flex;
  /* justify-content: center; */
  
  /* text-decoration: none; */
  list-style-type: none;
  margin-left: 28%;
  /* flex-wrap: wrap; */
  /* position: absolute; */
}
/* -----------------NAVIGATION BAR----------------- */
.navbar li {
  /* flex:1; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 63.3%;
  color: white;
  /* text-decoration: none; */

  padding-top: 10%;
  margin-right: 8%;
  z-index: 1;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar p:hover{
  cursor: pointer;
}
.navbar a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #8c8c8c;
}
/* .navbar li:active {
  text-decoration: none;
  border-bottom: 5px;
    border-bottom-style: solid;
  border-color: #fa3966;
  padding-bottom: 1%;
} */

/* .firstcomp {
  margin-left: 26vw !important;
} */
/* ----------------Graphics----------- */
.graphicsdiv {
  display: flex;
  /* flex-wrap: wraps; */
  flex-wrap: nowrap;
}
.image7 {
  position: fixed;
  width: 35px;
  height: 116px;
  left: 1%;
  top: 14%;
}
.topright {
  position: fixed;
  top: 0;
  right: 0;
}
.bottomleft {
  position: fixed;
  bottom: 0;
  /* width:80%; */
}

.image8 {
  position: fixed;
  width: 35px;
  height: 116px;
  top: 58%;
  left: 10%;
  /* top: 0; */
  margin-top: 0;
  transform: rotate(90deg);
}
.group59 {
  position: fixed;
  width: 41.17px;
  height: 173px;
  right: 2%;
  top: 65%;
}
/* ----------------CARD-------------------- */
.wrapper {
  padding-top: 1%;
  margin-left: 27%;
  display: grid;
  width: 50%;
  /* -----------------FIXED HOVER ISSUE------------------------ */
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem)); */
  grid-template-columns: 180px 180px 180px 180px;
  grid-auto-rows: 220px;
  /* gap: 5rem; */
  column-gap: 3rem;
  row-gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2%; 
}

.card {
  /* overflow: hidden; */
  /* height: 250px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  /* width:20%;*/
  transition: transform 200ms ease-in;
}

.card__body {
  /* position: absolute; */
  height: 10rem;
  background-color: #26282a;
  border: #fff6eb solid 1px;
  border-radius: 18px;
  /* max-height: 12rem; */
  overflow: hidden;
}

.card__image {
  /* position: absolute; */
  height: 10rem;
  width: 100%;
  z-index: 2;
  /* object-fit:cover; */
  /* background-color: #26282A; */

  filter: saturate(0%);
}
.card__title {
  display: none;
  /* padding: 0.2rem; */
  font-size: 90%;
  padding-top: 4%;
  font-family: Poppins;

  color: #ffffff;
}
.card__description {
  padding: 0 1rem;
}
.card__btn {
  display: none;
  padding: 0rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  /* margin: 1rem; */
  margin-top: -8px;
  border: none;
  background: transparent;
  transition: background 200ms ease-in, color 1s ease-in;
}

.card:hover .card__image {
  transform-origin: bottom;
  /* transform: translate(0px,-20px); */
  transform: scale(1.3);
  overflow: visible;
  transition: 0.55s;
}
.card:hover .card__body {
  transform: scale(1.1);
  overflow: visible;
  transition: 0.85s;
  border: #fa3966 solid 1px;
}

.card:hover .card__btn {
  display: block;
  transition: 0.7s;
}
.card:hover .card__title {
  display: block;
  position: relative;
  transition: 0.7s;
}
.card:hover .card__image {
  filter: saturate(100%);
  transition: 0.7s;
}
/* .container{
  
} */
hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .navbar li {
    font-size: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 180px 180px;
  }

  .navbar {
    margin-left: 15%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 26%;
  }
  .ourteam_wrapper{
    margin-left: 22% !important;
  }
  .heading {
    width: 99vw;
    text-align: center !important;
    margin: 0 auto;
    position: absolute;
    font-size: 4rem;
    top: 30px;
  }
  .navbar {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
  .navbar li {
    font-size: 1.5rem;
    margin-top: 17%;
  }
  .image7 {
    display: none;
  }
  .image8 {
    display: none;
  }
}

@media (max-width: 530px) {
  .card {
    height: 140px;
  }

  .wrapper {
    /* grid-template-columns: 180px ; */
    grid-template-columns: 140px 140px;
    grid-auto-rows: 210px;
    column-gap: 50px;
    margin-left: 25%;
  }
  .navbar {
    display: grid;
    grid-template-columns: 142px 142px;
    /* margin-left: 5%; */
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 0.5rem;
    text-align: center !important;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
  li{
    background-color: #6868689f !important;
    padding : 12px 12px 12px 12px !important;
    border-radius: 25px !important;
    margin-right : 0px !important;
  }
  
  a{
    font-size: 1.25rem;
  }
  .image7 {
    display: none;
  }
  .image8 {
    display: none;
  }
}
@media (max-width: 400px){
  .navbar{
    margin-top : 25% !important;
  }
}