
/* .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    background-image: url("../bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 1s;
    /* background-position: center; }*/



.left{
    height: 100vh;
    width: 100vw;
    z-index: 5;
}


body, html{
    overflow: hidden;
}

/* .leftImage{
    width: 100%;
    height: 100%;
    
} */

.polygon{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheild{
    width: 20vw;
    margin-top: 9%;
}

.txt{
    position: absolute;
    top: 41vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.blue{
    z-index: 5;
    position: relative;
    left: 80.3%;
    width: 80vw;
}

.stroke{
    z-index: 6;
    width: 80vw;
    
}

.content{
    z-index: 7;
    position: relative;
    right: 80.3%;
    width: 80vw;
}

.udlogo{
    width: 18vw;
    opacity: 0.3;
    margin-top: 3%;
    transform:rotateZ(180deg);
    z-index: 1;
}


@media screen and (max-width:1440px){
    .udlogo{
        width: 17vw;
    }
    .sheild{
        width: 20vw;
    }
    .txt{
        top: 40vh;
    }
    .blue{
        left: 80.3%;
        width: 80vw;
    }
    .stroke{
        width: 80vw;
    }
    .content{
        right: 80.3%;
        width: 80vw;
    }
}
@media screen and (max-width:1210px){
   .txt{
    top: 44%;
   }
}
@media screen and (max-width:1000px){
   .txt{
    top: 46%;
   }
   .sheild{
    margin-top: 12%;
   }
}
@media screen and (max-width:850px){
   .txt{
    top: 48%;
   }
   .sheild{
    margin-top: 14%;
   }
}
@media screen and (max-width:780px){
   .txt{
    top: 48%;
   }
   .sheild{
    margin-top: 0%;
   }
}
@media screen and (max-width:700px){
   .txt{
    top: 50%;
   }
}
@media screen and (max-width:540px){
   .txt{
    top: 52.34%;
   }
}
@media screen and (max-width:400px){
   .txt{
    top: 54%;
   }
   .sheild{
    width: 23vw;
    margin-top: -2%;
   }
}

.stars{
    /* spread this class all accross the background */
    position: absolute;
    width: 100%;
    height: 100vh;
    
}