.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    background-color: #0d1213;
}

.left{
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.leftImage{
    width: 100%;
    height: 100%;
    
}

.right{
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'myanmar-khyay-regular', sans-serif;
    font-size: 3rem;
}

.polygon{
    position: absolute;
    left: -10%;
    border-radius: 60px;
    transform: skew(-25deg);
    background: rgba(255, 246, 235, 0.68);
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheild{
    transform: skew(25deg);
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 1730px) {
    .sheild{
        margin-left:5%;
        height:45%;
    }
}

@media screen and (max-width: 1500px){
    .sheild{
        margin-left:10%;
        height:40%;
    }
}
@media screen and (max-width: 1300px){
    .sheild{
        margin-left:15%;
        height:35%;
    }
    .polygon{
        height: 50%;
    }
}
@media screen and (max-width: 1150px){
    .sheild{
        margin-left:20%;
       
    }
    .polygon{
        height: 45%;
    }
}
@media screen and (max-width: 950px){
    .sheild{
        
        height: 35%;
       
    }
    .polygon{
        height: 40%;
    }
}
@media screen and (max-width: 800px){
    .sheild{
       
        height: 30%;
       
    }
    .right{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 666px){
    .polygon{
        height: 35%;
    }
    .right{
        font-size: 2rem;
    }
}