
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    background-color: #0d1213;
}

.left{
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.leftImage{
    width: 100%;
    height: 100%;
    
}

.right{
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'myanmar-khyay-regular', sans-serif;
    font-size: 3rem;
}

.polygon{
    position: absolute;
    left: -10%;
    border-radius: 107px;
    transform: skew(-25deg);
    background: rgba(255, 246, 235, 0.68);
    width: 60%;
    height: 60%;
    left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheild{
    transform: skew(25deg);
    width: 50%;
    height: 50%;
}


.mobileTitle{
    display: none;
}
/* @media screen and (max-width: 1730px) {
    .sheild{
        margin-left:5%;
        height:45%;
    }
}

@media screen and (max-width: 1500px){
    .sheild{
        margin-left:10%;
        height:40%;
    }
}
@media screen and (max-width: 1300px){
    .sheild{
        margin-left:15%;
        height:35%;
    }
    .polygon{
        height: 50%;
    }
}
@media screen and (max-width: 1150px){
    .sheild{
        margin-left:20%;
       
    }
    .polygon{
        height: 45%;
    }
} */
@media screen and (max-width: 950px){
    .right{
        display: none;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        width: 100%;
        justify-content: space-evenly;
    }
    .polygon{
        transform: skew(0);
        position: relative;
        left: 0;
        right: 0;
        height: 40%;
    }
    .sheild{
        transform: skew(0);
    }
    .mobileTitle{
        display: inline;
        color: white;
        font-size: xx-large;
        text-align: center;
        font-family: 'myanmar-khyay-regular', sans-serif;
        font-weight: bolder;
    }
}

@media screen and (max-width: 540px){
    .sheild{
        width: 70%;
    }
    .polygon{
        height: 40%;
        width: 70%;
    }
}