@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('../fonts.css');
/* Description card styling */

.eventCard{
    user-select: none;
    z-index: 3;
    margin: 2rem;
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #faffd3;
    color: black;   
    width: 55vw;
    height: 65vh;
    z-index: 2;
    margin-top: 5rem;
    box-shadow: 0 10px 10px 0 rgba(227, 217, 217, 0.19), 15px 16px 15px 0 rgba(227, 217, 217, 0.19);
    border-radius: 10px 10px 10px; 
}

.footer{
    position: relative;
    display: flex;
    height: 5rem;
    justify-content: center;
}

.cross{
    font-size: 2rem;
    background-color: inherit;
    border: none;
    color: red;
    font-weight: bold;
    font: "Head";
    cursor: pointer;
    box-shadow: red;
}

.crossImg{
    width: 70%;
    height: 70%;
    transition: transform .3s ease-in-out;
    opacity: 0.7;
}
.crossImg:hover{
	opacity: 1;
	transform: rotate(90deg);
}

/* .containerShadow{
    width: 60vw;
    height: 55vh;
    position: absolute;
    z-index: 2;
} */

.cardTitle{
    padding:1rem;
    z-index: 2;
    border-radius: 15px 50px 0px;
    font-family: 'Head';
    font-size: 4rem;
}

.cardDescription{
    margin: 1rem 1rem 1rem 2rem;  
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    font-size: 1rem;
    z-index: 2;
    overflow: auto;
}

.gradientBlue{
    width: 90%;
}

/* Vector styling */

.eventImage{
    position: absolute;
    bottom: 2.5rem;
    left: 4rem;
    height: 35vh;
    background-color: white;
    border: 2px solid #1f9effb0;
    z-index: 0;
}

.vectorCross{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 10%;
    height: 20%;
}

.vectorArrowBack{
    position:absolute;
    left: -5vw;
    top: -1.25rem;
    height: 70%;
    z-index: 0;
}

.vectorArrow{
    position:absolute;
    left: -6.5vw;
    top: 2rem;
    height: 70%;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .container{
        margin-top: 10rem;
        width: 80vw;
        height: 65vh;
        margin-left: 1.5rem;
        border-radius: 4px;
    }
    .cardTitle{
        font-size: 2rem;
        margin-bottom: 2px;
    }
    .cardDescription{
        /* margin-top: 2px; */
        text-align: left;
        font-size: 1rem;
    }
    .footer{
        position: relative;
        display: flex;
        padding-bottom: 0rem;
        justify-content: center;
        height: 5rem;
    }
    .crossImg{
        width: 50%;
    }
}

.fade-in {
	animation: fadeIn 2s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}