
.downArrow{
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 10%;
    height: 30%;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    animation: fadeIn 0.5s ease-in-out;
}

.back{
  background-color: black;
  position: absolute;
}

