.main{
    padding-left: 5rem;
    background-color: #0D1213;
    /* width: fit-content; */
    padding-right: 5rem;
    max-width: 100%;
    overflow-x: hidden;
    animation: fadeIn 1s;
}

.mySwiper{
  width: 100vw;
  height: 30rem;
  /* background: linear-gradient(180deg, rgba(217, 65, 100, 0.91) 3.23%, rgba(250, 57, 102, 0) 100%);
  border-radius: 30px; */
  /* following are the properties for flex box */
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
/* .centre{
  width: 40vw;
  height: 40rem;
} */
.heading{
    padding-top: 5rem;
    color: white;
    font-size: 6rem;
}

.sponsorUsHead{
  color: white;
  font-size: 400%;
}

.carousel1{
    margin-top: 2rem;
    background:#FFF6EB;
    /*background: linear-gradient(180deg, rgba(217, 65, 100, 0.91) 3.23%, rgba(250, 57, 102, 0) 100%);*/
    /* width: 87vw; */
    width:50wh;
    height: 30wh;
    position: relative;
    border-radius: 30px;
    /* following are the properties for flex box */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.spnsrlogo1{
    height: 100px;
    z-index: 4;
    margin-left: 3rem;
    width: max-content;
    align-items:centre;
    vertical-align: centre;
 
}

/* .container1{
    order:1;
    position:relative;
    flex-basis: 30%;
    max-width: fit-content;
    justify-content: flex-start;
    align-items: center;
} */


.container2{
    order: 3;
    flex-basis:55%;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}

.container2 h2{
    color: #FFF6EB;
    font-size: 2.5vw;
    max-height: fit-content;
    padding-right: 1vw;
}

/* --------------------------- */
.subheading{
    font-size: 400%;
    color:white;
}


.listStyle{
  text-decoration-color: white;
}


.sponsorText{
    color:white;
    display:inline-block;
    font-weight: bold;
}

p{
  color: white;
}

.sponsorPara{
    color: white;
    display:inline-block;
    font-size: 130%;
    padding: 1rem;
}

.carousel2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(90deg, rgba(217, 65, 100, 0.91) 3.23%, rgba(250, 57, 102, 0) 100%);
    width: 87vw;
    height: 80vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding-left: 5vw;

    /* ------- flex properties ------- */

    /* display: flex; */
    /* flex-direction :row ; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around;
    align-items: center;
    align-content: space-around; */
    display:grid;
    grid-template-columns:repeat(3,1fr);
}

.sponsorForm{
  padding: 2.5rem;
  /* background-color: #ffffff23; */
  margin-bottom: 6rem;
  border-radius: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* backdrop-filter: blur(1000px); */
  background-color: #00000033;
  backdrop-filter: blur(5px);
  width: 83.5vw;
  height: fit-content;
}

.sheild{
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #7390f02e;
  backdrop-filter: blur(10px);
  border-radius: 36px;
  padding: 1.5rem;
}

.submitButton{
  background-color: #1f90e6;
  font-size: 1.3rem;
  padding: 0.8rem;
  margin-left: 1rem;
  border-radius: 10px;
  color: white;
  border: none;
}

.spnsorformsubmit{
    padding-left: 30vw;
}

.submissionStatus{
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: larger;
}

.errormssg{
  color: red;
}

.success{
  color: #ffffff;
  font-size: 2rem;
}

.contactField{
  color: white;
  background-color: rgb(25, 24, 24, 0.5);
  backdrop-filter: blur(5px);
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  outline-color: rgb(154, 238, 255);
  display: flex;
  border-color: white;
  border-width: 0.7px;
}

.contactText{
  color: white;
  background-color: rgb(25, 24, 24, 0.5);
  backdrop-filter: blur(5px);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  outline-color: rgb(154, 238, 255);
  display: flex;
  border-color: white;
  border-width: 1px;
  font-size: 1.5rem;
  width: 150%;
}


/* the following are used to set the background color as black of form fields */
/* input[type="text"], textarea {
    display: flex;
    border-color: rgb(0, 187, 255);
    border-radius: 1rem;
    background-color : #000000; 
    height: 3rem;
    width: 30%;
    padding: 0.5vh 1vw;
    font-size: 175%;
} */
/* input[type="email"], textarea {
    border-color: rgb(0, 187, 255);
    border-radius: 1rem;
    background-color : #000000; 
    height: 3rem;
    width: 50%;
    padding: 0.5vh 1vw;
    font-size: 175%;
}

textarea{
    height: 8rem;
    width: 80vw;
    font-size: large;
    padding: 1vw;
    font-size: 3vh;
    line-height: 1.2em;
} */

/* whenever text is written now, text will be white in color */

/* input, select, textarea{
    color: #ffffff;
}

input[type="submit"]{
    background-color:rgb(0, 187, 255);
    border-radius:2.5rem;
    border-color:rgb(0, 187, 255);
    
    height:4.5rem;
    width:12rem;
    font-size:1.75rem;
} */

.spnsorformsubmit{
  margin-left: 5vw;
}

.whysponsorus{
  display: flex;
  flex-direction: row;
  background-color: #0000007a;
  padding: 1rem;
  border-radius: 36px;
  margin-bottom: 6rem;
}

.ctContainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}
.ctContainer1{
  display: flex;
  flex-basis: 60%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media screen and (max-width: 1200px) {
  .heading{
    text-align: center;
  }
  .subheading{
    text-align: center;
  }
  .sponsorUsHead{
    text-align: center;
  }
  .carousel2 img{
    height: 13vh;
  }
  .whysponsorus{
    flex-direction: column;
    width: 105%;
    justify-content: center;
    align-items: center;
  }
  .listStyle{
    margin-left: -10%;
  }
  .sponsorForm{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .ctContainer2{
    margin-top: 1rem;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .ctContainer1{
    margin-top: 1rem;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .submitButton{
    margin-left: 4rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .contactField{
    font-size: 0.7rem;
  }
  .contactText{
    font-size: 0.7rem;
    width: 90%;
  }
  .sheild{
    width: 50%;
  }
  /* input[type="text"], input[type="email"] {
    width: 80vw;
  } */
}

/* @media screen and (max-width: 762px) {
  .spnsrlogo1{
    padding-left: 9vw;
    height: 16vh;
    padding-bottom: 2vh;
  }
  .carousel2 img{
    height: 10vh;
  }
} */

@media screen and (max-width: 676px) {
  .heading{
    font-size: 320%;
  }
  .subheading{
    font-size: 300%;
  }
  .sponsorUsHead{
    font-size: 280%;
    text-align: center;
  }
  .container1{
    margin-right: 7vw;
  }
  .spnsrlogo1{
    height:8rem;
  }
  .spnsorformsubmit{
    padding-left: 0vw;
  }
  .sponsorForm{
    padding: 0.1px;
  }
  .mySwiper{
    margin: 0 auto;
  }
  
  /* input[type="submit"]{
    border-radius:2.5rem;
    height:3rem;
    width:8rem;
    font-size:1.3rem;
  } */
}



@media screen and (max-width: 576px) {
  .main{
    padding-left: 2.5rem;
  }
  .heading{
    font-size: 240%;
  }
  .subheading{
    font-size: 240%;
  }
  .sponsorUsHead{
    font-size: 200%;
  }
  .sponsorPara{
    /* padding-left: 0.3rem; */
    justify-self: flex-end;
    font-size: 110%;
  }
}

@media screen and (max-width: 472px) {
  .main{
    padding-left: 2rem;
  }
  .heading{
    font-size: 240%;
  }
  .subheading{
    font-size: 200%;
  }
  .sponsorUsHead{
    font-size: 200%;
  }
  .spnsrlogo1{
    height:5rem;
  }
  .container1{
    height: 10rem;
  }
  .container2{
    margin-top: 2rem;
    margin-left: 1rem;
    justify-content: center;
    text-align: center;
  }
  .sponsorHead{
    font-size: 40px;
  }
  .sponsorText{
    text-align: center;
  }
  .carousel2{ 
    width: 70vw;
    height: 43vw;
    padding-top: 2vh;
    /* padding-right: 2vw; */
    align-items: center;
    position: relative;
    border-radius: 20px;
    /* padding-left: 5vw; */
    flex-direction: column;
  }
  .mySwiper{
    height: 80vh;
  }
  .carousel2 img{
    /* margin-top: -90%; */
    height: fit-content;
  }
}

@media screen and (max-width: 439px) {
  .heading{
    font-size: 200%;
  }
  .subheading{
    font-size: 180%;
  }
  .sponsorUsHead{
    font-size: 160%;
  }
  .carousel1{
    flex-direction: column;
  }

  .carousel2 img{
    height: 8vh;
  }
  .sponsorPara{
    font-size: 95%;
  }
}

/* @media screen and (max-width: 404px) {
  .carousel2 img{
    height: 7vh;
  }
} */




@media screen and (max-width: 372px) {
  .heading{
    font-size: 160%;
  }
  .subheading{
    font-size: 140%;
  }
  .sponsorUsHead{
    font-size: 100%;
  }
  .sponsorPara{
    font-size: 60%;
  }
  .spnsrlogo1{
    top:6vh;
    left:16vw;
    height:18vw;
  }
  .container1{
    margin-right: 0px;
    padding: 0 0 0 0;
  }
  .circle{
    display: none;
  }
  .mySwiper{
    width: 80vw;
  }
  .carousel1{
    /* margin-right: 50vw; */
    flex-direction: column;
  }
  .carousel2{
    margin-left: 3vw;
    padding-left: 0px;
  }
  .carousel2 img{
    height: 6vh;
  }
}

@media screen and (max-width: 322px) {
  .carousel2{
    width: 65vw;
    padding-left: 0vw;
    margin-left: 0px;
  }
  .carousel2 img{
    height: 5vh;
  }
}


