.main{
    padding-left: 5rem;
    background-color: #0D1213;
    /* width: fit-content; */
    padding-right: 5rem;
    max-width: 100%;
    overflow-x: hidden;
    animation: fadeIn 1s;
}

.mySwiper{
  width: 88vw;
  height: 30rem;
  background: linear-gradient(180deg, rgba(217, 65, 100, 0.91) 3.23%, rgba(250, 57, 102, 0) 100%);
  border-radius: 30px;
  /* following are the properties for flex box */
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.heading{
    padding-top: 5rem;
    padding-bottom: 2rem  ;
    color: white;
    font-size: 6rem;
    
}

.sponsorUsHead{
  color: white;
  font-size: 400%;
  margin-bottom: 2rem;
}

.carousel1{
    margin-top: 2rem;
    background: linear-gradient(180deg, rgba(217, 65, 100, 0.91) 3.23%, rgba(250, 57, 102, 0) 100%);
    width: 87vw;
    height: 30wh;
    position: relative;
    border-radius: 30px;
    /* following are the properties for flex box */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.spnsrlogo1{
    height: 12rem;
    z-index: 4;
    margin-left: 3rem;
    width: max-content;
}

.container1{
    order:1;
    position:relative;
    flex-basis: 30%;
    max-width: fit-content;
    justify-content: flex-start;
    align-items: center;
}


.container2{
    order: 3;
    flex-basis:55%;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}

.container2 h2{
    color: #ffffff;
    font-size: 2.5vw;
    max-height: fit-content;
    padding-right: 1vw;
}

/* --------------------------- */
.subheading{
    font-size: 400%;
    color:white;
    margin: 2rem;
}


.listStyle{
  text-decoration-color: white;
}


.sponsorText{
    color:white;
    display:inline-block;
    font-weight: bold;
}

p{
  color: white;
}

.sponsorPara{
    color: white;
    display:inline-block;
    font-size: 130%;
    padding: 1.3rem;
}

.carousel2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(90deg, rgba(217, 65, 100, 0.91) 3.23%, rgba(250, 57, 102, 0) 100%);
    width: 87vw;
    height: 80vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding-left: 5vw;

    /* ------- flex properties ------- */

    /* display: flex; */
    /* flex-direction :row ; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around;
    align-items: center;
    align-content: space-around; */
    display:grid;
    grid-template-columns:repeat(3,1fr);
}

.sponsorForm{
  padding: 2.5rem;
  /* background-color: #ffffff23; */
  margin-bottom: 6rem;
  border-radius: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* backdrop-filter: blur(1000px); */
  background-color: #00000033;
  backdrop-filter: blur(5px);
  width: 83.5vw;
  height: fit-content;
  box-shadow: 0px 0px 7px -1px dodgerblue;
}

.sheild{
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #7390f02e;
  backdrop-filter: blur(10px);
  border-radius: 36px;
  padding: 1.5rem;
}

.submitButton{
  background-color: #1f90e6;
  font-size: 1.3rem;
  padding: 0.8rem;
  /* margin-left: 1rem; */
  margin: 1rem 2rem;
  border-radius: 10px;
  color: white;
  border: none;
}

.submitButton:hover {
  background-color: #0a74c6;
  transition: 0.4s;
}

.spnsorformsubmit{
    padding-left: 30vw;
}

.errormssg{
  color: red;
}

.success{
  color: #ffffff;
  font-size: 2rem;
}

.contactField{
  color: white;
  background-color: #0a0e0f;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: 1.5rem;
  margin: 2rem;
  padding: 1rem;
  /* border-radius: 20px; */
  outline-color: rgb(154, 238, 255);
  display: flex;
  border-bottom: 1px solid#fff;
  border-top: #0a0e0f;
  border-right: #0a0e0f;
  border-left:#0D1213 ;
  font-family: 'Courier New', Courier, monospace;
  /* border-color: white;
  border-width: 0.7px; */
}

.contactField:focus,.contactText:focus {
  border-bottom: 1px solid dodgerblue;
  outline: none;
  transition: 0.5s;
  background-color: #0D1213;
}

.contactText{
  color: white;
  background-color: #0a0e0f;
  backdrop-filter: blur(5px);
  margin: 2rem;
  padding: 1rem;
  /* border-radius: 10px; */
  outline-color: rgb(154, 238, 255);
  display: flex;
  border-bottom: 1px solid #fff;
  /* border-color: white;
  border-width: 1px; */
  font-size: 1.5rem;
  width: 150%;
  border-top: #0a0e0f;
  border-right: #0a0e0f;
  border-left:#0D1213 ;
}


/* the following are used to set the background color as black of form fields */
/* input[type="text"], textarea {
    display: flex;
    border-color: rgb(0, 187, 255);
    border-radius: 1rem;
    background-color : #000000; 
    height: 3rem;
    width: 30%;
    padding: 0.5vh 1vw;
    font-size: 175%;
} */
/* input[type="email"], textarea {
    border-color: rgb(0, 187, 255);
    border-radius: 1rem;
    background-color : #000000; 
    height: 3rem;
    width: 50%;
    padding: 0.5vh 1vw;
    font-size: 175%;
}

textarea{
    height: 8rem;
    width: 80vw;
    font-size: large;
    padding: 1vw;
    font-size: 3vh;
    line-height: 1.2em;
} */

/* whenever text is written now, text will be white in color */

/* input, select, textarea{
    color: #ffffff;
}

input[type="submit"]{
    background-color:rgb(0, 187, 255);
    border-radius:2.5rem;
    border-color:rgb(0, 187, 255);
    
    height:4.5rem;
    width:12rem;
    font-size:1.75rem;
} */

.spnsorformsubmit{
  margin-left: 5vw;
}

.whysponsorus{
  display: flex;
  flex-direction: row;
  background-color: #0000007a;
  padding: 3rem;
  border-radius: 36px;
  margin-bottom: 6rem;
  box-shadow: 0px 0px 7px -1px #cc3f5f;
}

.ctContainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}
.ctContainer1{
  display: flex;
  flex-basis: 60%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media screen and (max-width: 1200px) {
  .heading{
    text-align: center;
  }
  .subheading{
    text-align: center;
  }
  .sponsorUsHead{
    text-align: center;
  }
  .carousel1{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
    padding-top: 2rem;
  }
  .container2 p{
    margin-right: 2rem;
  }
  .spnsrlogo1{
    width: 30%;
    height: 30%;
  }
  .mySwiper {
    margin: 1rem -1rem;
  }
  .whysponsorus{
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 2rem -2rem;
  }
  /* .listStyle{
    margin-left: 10%;
  } */
  .sponsorForm{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 1rem 0.6rem
  }
  .ctContainer2{
    margin-top: 1rem;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .ctContainer1{
    margin-top: 1rem;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .submitButton{
    margin-left: 4rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    display: flex;
    position:relative;
    left: 4rem;
  }
  .contactField{
    font-size: 1.2rem;
    padding: 20px;
  }
  .contactText{
    font-size: 1.2rem;
    width: 80%;
  }
  .sheild{
    width: 50%;
  }
  /* input[type="text"], input[type="email"] {
    width: 80vw;
  } */
}

/* @media screen and (max-width: 762px) {
  .spnsrlogo1{
    padding-left: 9vw;
    height: 16vh;
    padding-bottom: 2vh;
  }
  .carousel2 img{
    height: 10vh;
  }
} */

@media screen and (max-width: 800px) {
  #title_4{
    width: 25%;
  }
}

@media screen and (max-width: 676px) {
  .heading{
    font-size: 320%;
  }
  .subheading{
    font-size: 300%;
  }
  .sponsorUsHead{
    font-size: 280%;
    text-align: center;
  }
  .carousel1{
    padding-top: 1rem;
  }
  .container1{
    margin-bottom: 1rem;
    margin-right: 7vw;
  }
  .container2 p{
    font-size: 0.75rem;
  }
  .container2 h2{
    
    font-size: 1rem;
  }
  .spnsorformsubmit{
    padding-left: 0vw;
  }
  .sponsorForm{
    padding: 0.1px;
    margin: 1rem 1.8rem;
  }
  .whysponsorus {
    margin: 1rem -2rem;
  }
  .mySwiper{
    height: 70%;
    margin: 2rem -2.5rem;
  }
  
  /* input[type="submit"]{
    border-radius:2.5rem;
    height:3rem;
    width:8rem;
    font-size:1.3rem;
  } */
}



@media screen and (max-width: 576px) {
  .main{
    padding-left: 2.5rem;
  }
  .heading{
    font-size: 240%;
  }
  .subheading{
    font-size: 240%;
  }
  .carousel1{
    padding-top: 0.5rem;
  }
  .sponsorUsHead{
    font-size: 200%;
    position: relative;
    left: 1.5rem;
    margin: auto 1.5rem;
  }
  .sponsorPara{
    /* padding-left: 0.3rem; */
    justify-self: flex-end;
    font-size: 110%;
  }
  .mySwiper {
    margin: 2rem -0.3rem;
  }
  .whysponsorus{
    margin: 1rem -1rem;
  }
  .sponsorForm {
    margin: 1rem 3.5rem;
  }
}

@media screen and (max-width: 472px) {
  .main{
    padding-left: 2rem;
  }
  .heading{
    font-size: 240%;
  }
  .subheading{
    font-size: 200%;
  }
  .sponsorUsHead{
    font-size: 200%;
  }
  .spnsrlogo1{
    width: 40%;
    margin: 0 30%;
    height: 40%;
  }
  .container1{
    margin-right: 0;
    margin-bottom: 0;
  }
  .container2{
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: center;
    text-align: center;
  }
  .sponsorHead{
    font-size: 40px;
  }
  .sponsorText{
    text-align: center;
  }
  .carousel2{ 
    width: 70vw;
    height: 43vw;
    padding-top: 2vh;
    /* padding-right: 2vw; */
    align-items: center;
    position: relative;
    border-radius: 20px;
    /* padding-left: 5vw; */
    flex-direction: column;
  }
  .mySwiper{
    height: 80vh;
  }
  .sponsorForm {
    width: 105%;
    margin: 1rem 1rem;
  }
  .contactText,.contactField{
    width: 60%;
    margin: 2rem 2.1rem;
  }
  .submitButton{
    position: relative;
    left: 1.9rem;
  }
}

@media screen and (max-width: 439px) {
  .heading{
    font-size: 200%;
  }
  .subheading{
    font-size: 180%;
  }
  .sponsorUsHead{
    font-size: 160%;
  }
  .sponsorForm{
    width: 120%;
    margin: 1rem 0;
  }
  .sponsorPara{
    font-size: 95%;
  }
}

/* @media screen and (max-width: 404px) {
  .carousel2 img{
    height: 7vh;
  }
} */

@media screen and (max-width: 372px) {
  .heading{
    font-size: 160%;
  }
  .subheading{
    font-size: 140%;
  }
  .sponsorUsHead{
    font-size: 100%;
  }
  .sponsorPara{
    font-size: 60%;
  }
  .container1{
    margin-right: 0px;
    padding: 0 0 0 0;
  }
  .circle{
    display: none;
  }
  .mySwiper{
    width: 80vw;
  }
  .carousel1{
    /* margin-right: 50vw; */
    flex-direction: column;
  }
  .carousel2{
    margin-left: 3vw;
    padding-left: 0px;
  }
}

@media screen and (max-width: 322px) {
  .carousel2{
    width: 65vw;
    padding-left: 0vw;
    margin-left: 0px;
  }
}
