
.wrapper
{
   position: relative;
   margin-top: 2px;
   left: 50%;
   transform: translateX(-50%);
   width: 30% ;
  background-image: url(../Assets/icon.png);
  background-size: cover;
   image-rendering: initial;
   border-radius: 40px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   align-content: center;
   padding-top: 30px;
   padding-bottom: 30px;
   margin-bottom: 20px;
   color: white;
   font-size: 3rem;
}


