

 .imgwrap {
    height: auto;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
   
}

.imgwrap>* {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    min-height: 0px;
   
}

@media screen and (min-width: 992px) {
    .imgwrap{
        /* transform: translateX(+5%); */
    }
}
.i1 {
    width: 354.03px;
    height: 442.62px;
    /* aspect-ratio: 354.03/442.62; */
    /* Maintain aspect ratio */
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 5px white solid;
    background-color: bisque;
    margin: 4px;
    transition: 0.6s ease-in-out;
    object-fit: cover;
    /* position: static; */
}

.i1:hover {
    scale: 105%;
    transition: 0.6s ease-in-out;
}

.i2 {
    width: 354.22px;
    height: 185.86px;
    /* aspect-ratio: 354.22/185.86; */
    /* Maintain aspect ratio */
    background-color: bisque;
    border-radius: 100px;
    border-left: 5px white solid;
    border-top: 5px white solid;
    border-right: 5px white solid;
    border-bottom: 5px white solid;
    margin: 4px;
    transition: 0.6s ease-in-out;
    object-fit: cover;
    

}

.i2:hover {
    scale: 105%;
    transition: 0.6s ease-in-out;
}



.i3 {
    width: 355.27px;
    height: 354.02px;
    /* aspect-ratio: 355.27/354.02; */
    /* Maintain aspect ratio */
    border-radius: 100px;
    border-left: 5px white solid;
    border-top: 5px white solid;
    border-right: 5px white solid;
    border-bottom: 5px white solid;
    background-color: bisque;
    margin: 5px;
    transition: 0.6s ease-in-out;
    object-fit: cover;
}

.i3:hover {
    scale: 105%;
    transition: 0.6s ease-in-out;
}

@media only screen and (max-width: 1400px) {

    .i1,
    .i2,
    .i3 {
        width: 250px;
        height: auto;
    }
}

@media only screen and (max-width: 1200px) {

    .i1,
    .i2,
    .i3 {
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 992px) {

    .i1,
    .i2,
    .i3 {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {

    .i1,
    .i2,
    .i3 {
        width: 150px;
        height: auto;
    }
}

@media screen and (max-width: 576px) {

    .i1,
    .i2,
    .i3 {
        width: 100px;
        height: auto;
    }
}

@media screen and (max-width: 400px) {

    .i1,
    .i2,
    .i3 {
        width: 80px;
        height: auto;
    }
}
