.card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: #FFF6EB;
    width: 30rem;
    height: fit-content;
    padding: 0 2rem 2rem 2rem;
    border-radius: 10px;
  }
  
  .card img {
    margin-top: 10%;
    width: 100%;
    border-radius: 20px;
    max-width: 80%;
    
  }
  
   .card h2 {
    /* margin: 0; */
    margin-top: 1rem;
    align-items:center;
    text-align: center;
  }
  
  .card p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  } 
  
  .card .btnn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 940px) {
    .card {
      width: 50vw;
    }
  }

  @media screen and (max-width: 746px) {
    .card {
      width: 40vw;
    }
  }

  @media screen and (max-width: 380px) {
    h2{
      /* margin-bottom: -3.5rem; */
      font-size: 0.8rem;
    }
    .card {
      margin-top: -150%;
      width: 30vw;
      height: 90px;
    }

    .card img {
      margin-top: 3rem;
      width: 100%;
      border-radius: 4px;
      /* max-width: 80%; */
    }
  }
  