*{
  margin:0;
  padding: 0;
}
.navthingie{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.069));
    color: white;
    padding: 2vh 0.5vw;
    backdrop-filter: blur(20px);
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 1;
    height: 60px;
    font-family: 'myanmar-khyay-regular', sans-serif;
  }
  
  .hamburger,.side-nav{
    display: none;
  }

  .navthingie img{
    display: inline;
  }
  .left-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  .right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    margin-right: 20px;
  }
  
  .navthingie h2{
    display: inline;
  }
  .navthingie ul{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
  .navthingie ul li{
    margin:0 0.5vw;
    padding: 1vh 2vh;
    transition: background 0.5s;
    border-radius: 10px;
  }
  .navthingie ul li:hover{
    margin:0 0.5vw;
    padding: 1vh 2vh;
    background:rgb(255, 255, 255,0.4);
    border-radius: 10px;
  }
  
  .navthingie a{
    color:white;
    text-decoration: none;
    font-size: 2.5vh;
  }
  
  .navthingie img{
    width: 6vh;
  }

@media screen and (max-width:780px){
  .navthingie{
    background-color: transparent;
    filter: none;
    backdrop-filter: none;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.1);
  }

  .right-nav{
      visibility: hidden;
      opacity: 0;
      display: none;
    }
  .left-nav{
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .nav-item{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    width: 80vw;
    /* border: hidden 2px white; */
    /* border-radius: 8px; */
  }
  .nav-item:hover{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    width: 90vw;
    color: rgb(123, 131, 137);
    /* border: solid 2px white; */
    /* border-radius: 8px; */
  }
  .hamburger{
    display: flex;
    position: relative;
    justify-content: center;
    background: rgba(0, 0, 0, 0.60);
    cursor: pointer;
    border-radius: 1px;
    width: 8%;
    margin: 10px 0 10px 30px;
    z-index: 11;
  }
  .hamburger:hover{
    display: flex;
    position: relative;
    justify-content: center;
    background: rgba(163, 159, 159, 0.816);
    cursor: pointer;
    border-radius: 12px;
    width: 8%;
    margin: 10px 0 10px 30px;
    z-index: 11;
  }
  .right-nav{
      display: none;
    }
    
    .hamburger img{
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 0.1rem 0;
      z-index: 20;
    }
    .side-nav{
      height: 100vh;
      width: 100vw ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      /* transition: width 0.5s ease-in-out; */
    }
    .side-navbar{
      /* position: fixed; */
      width: 100%;
      height: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .close-nav{
      position: absolute;
      /* display: none; */
      top: 20px;
      left: 20px;
      z-index: 20;
    }
  }