.upArrow{
    position: absolute;
    top: 2rem;
    right: 0;
    width: 10%;
    height: 30%;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.downArrow{
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 10%;
    height: 30%;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
}

.downline{
    position: absolute;
    bottom: 0rem;
    right: 0;
    width: 30%;
    height: 10%;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
}

.upline{
    position: absolute;
    bottom: 15rem;
    right: 0;
    width: 30%;
    height: 10%;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 768px) {
    .upArrow{
        width: 15%;
    }
    .downArrow{
        width: 15%;
    }
    .downline{
        width: 40%;
        height: 20rem;

    }
    .upline{
        width: 40%;
        height: 1rem;
    }
}@media screen and (max-width: 380px) {
    .downArrow{
        width: 12%;
    }
    .upArrow{
        width: 12%;
    }
}
