*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body{
  height: 100%;
  width: 100%;
}

.box{
  z-index: 2;
  height: 100vh;
  width: 175%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
  padding:40px;
}

.imageDiv {
  z-index: 2;
  width: 275px;
  height: 175px; 
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
