@font-face {
    font-family: aboutfont;
    src: url(../assets/DMMono-Regular.ttf);
}

.grid{
    display:grid;
    place-content:centre;
    /* position: absolute;
    overflow:clip; */
    height:100vh;
    width:100vw;
}

.peel{
    height:200vh;
    width:100vw;
    grid-area:1/1;
    z-index:10;
    background-color:#1e1e1e;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
    top:0;
}

.sticky{
    grid-area:1/1;
    position: fixed;
}

.mainBgContainer{

    grid-area:1/1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
}
body{

    background-color: #1e1e1e;
    font-family: aboutfont;
}
.parent{
    display: flex;
}
.heading{
    padding-bottom: 14px;
}
.bgcontainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* .heading2{
    left:0px;
    transform: rotate(90deg);
    color:white;
} */
.text{
top:3px;
left:50px;
color:white;
position: absolute;
padding-bottom: 40px;
font-size:15px;
font-family: aboutfont;
} 

.left{
    width: calc(50vw - 15px);
    position: relative;
    height: 100vh;
    left: 0px;
    /* padding-right: 25px; */
    /* margin-right: 20px; */

}
.right{
    width: calc(50vw - 15px);
    position: absolute;
    height: 100vh;
    right: 0px;
    transform: rotateY(180deg);
    
    /* transform-origin: left top; */
    /* padding-left: 20px; */
    
}
.cen{
    width: 20px;
}
.v1{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;
    /* margin-left: 15px; */
    left: 20px;
}
.v2{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;
    /* margin-right: 10px; */
    right: 0px;
}
.v3{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;
    right: 50px;
}

.h1{
    background-color: #667987;
    height: 1px;

    width: 96.7%;

    position: absolute;
    bottom: 50px;
    left: 20px;
}
.h2{
    background-color: #667987;
    height: 1px;

    width: 96.7%;

    position: absolute;
    top: 30px;
    left: 20px;
    
    /* margin-left: 15px; */
    /* margin-right: 10px; */

}
.h3{
    background-color: #667987;
    height: 1px;

    width: 96.7%;

    position: absolute;
    top: 50px;
    left: 20px;
    
    /* margin-left: 15px; */
    /* margin-right: 10px; */

}

/* .circle{
    right:20px;
    position: absolute;

}
.circle1{
    border-radius: 50%;
    background-color: blue; */
    .circlesContainer {
        position: absolute;
        top: 8px;
        right: 50px;
        display: flex;
        gap: 10px;
      }
      
      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #0078D4;
      }
      .circle2{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #A3C5DF;
      }
      .rotatedTextContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 30%;
        transform: translateY(-50%);

    }
    
    .rotatedText {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 15px;
        color: white;
        margin: 0;
        font-family: aboutfont;
    }
    .icon {
        position: absolute;
        width: 20px;
        height: 15px;
        cursor: pointer;
        bottom: 7%;
        left: -0.3%;
      }
      
      .arrow {
        position: absolute;
        top: 6.25px;
        width: 150%;
        height: 2.5px;
        background-color: #fff;
        box-shadow: 0 0.75px 1.25px rgba(0, 0, 0, 0.2);
        transform: rotate(90deg);
      }
      
      .arrow::after, .arrow::before {
        content: '';
        position: absolute;
        width: 37.5%;
        height: 2.5px;
        right: -2px;
        background-color: #fff;
      }
      
      .arrow::after {
        top: -3px;
        transform: rotate(45deg);
      }
      
      .arrow::before {
        top: 3px;
        box-shadow: 0 0.75px 1.25px rgba(0, 0, 0, 0.2);
        transform: rotate(-45deg);
      } 
      
      

.triangle{
    top : 5px;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
    z-index: 2;
    border-right:10px solid #0078D4; 
    position: absolute;
    margin-left:5px ;
    margin-top: 4px;
}

.bluetext{
    position: absolute;
    bottom: 1%;
    left: 3.5%;
    color: #0078D4;
    font-family: aboutfont;
}

@media screen and (max-width: 1025px){
    .h1{
        width:96%;
    }
    .h2{
        width:96%;
    }  
    .h3{
        width:96%;
    }
}
/* @media screen and (min-width: 769px) and (max-width: 1000px) {
    .v2{
        left: 95.5vw;
    }
    .v3{
        display: none;
    }
    .text{
        left:26px;
        top: 2vh;
        font-size: 13px;
    }
    .h1{
        width: 93.2vw;
        bottom: 5vh;
    }
    .h2{
        width: 91vw;
    }
    .h3{
        width: 91vw;
    }
    .right{
        display: none;
    }
    .bluetext{
        left: 5vh;
    }
    .rotatedText{
        font-size: 13px;
    }
    .rotatedTextContainer{
        left: 0.2vh;
    }
} */
@media screen and (max-width: 900px){
    .h1{
        width:94.5%;
    }
    .h2{
        width:94.5%;
    }
    .h3{
        width:94.5%;
    }
}
@media screen and (max-width: 550px){
    .mainBgContainer{
        z-index: 1000;
    }
    .v2{
        left: 95.5vw;
    }
    .v3{
        display: none;
    }
    .text{
        left:26px;
        top: 2vh;
        font-size: 13px;
        z-index: 1;
    }
    .h1{
        width: 91vw;
        bottom: 5vh;
    }
    .h2{
        width: 91vw;
    }
    .h3{
        width: 91vw;
    }
    .hor{
        background-color: black;
        height: 50px;
        width: 100vh;
        position: absolute;
    }
    .right{
        display: none;
    }
    .bluetext{
        left: 5vh;
    }
    .rotatedText{
        font-size: 13px;
    }
    .rotatedTextContainer{
        left: 0.2vh;
    }
}
@media screen and (max-width:320px){
    .v2{
        right:-13px;
    }
    .v3{
        right:0px;
    }
    .text{
        left:26px;
        top:7px;
        font-size:11px;
    }
}
