body{
    background-color: black;
}
.parent{
    display: flex;

}
.title{
    width: 100vw;
    top: 0;
    margin-top: 3px;
    position: absolute;
    
    /* padding: 0%; */
}
.heading{
    color: white;
    top: 0px;
    left: 50px;
    position: absolute;
    font-size: 16px;
    margin: 0px;
    /* padding: 0%; */
    
}
.title title1{
    transform: rotate(90deg);
    left: 0;
}
.left{
    width: calc(50vw - 15px);
    position: relative;
    height: 100vh;
    left: 0px;
    /* padding-right: 25px; */
    /* margin-right: 20px; */

}
.right{
    width: calc(50vw - 15px);
    position: absolute;
    height: 100vh;
    right: 0px;
    transform: rotateY(180deg);
    
    /* transform-origin: left top; */
    /* padding-left: 20px; */
    
}
.cen{
    width: 20px;
}
.v1{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;
    /* margin-left: 15px; */
    left: 20px;
}
.v2{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;
    /* margin-right: 10px; */
    right: 0px;
}
.v3{
    background-color: #667987;
    height: 100vh;
    width: 1px;
    position: absolute;
    right: 50px;
}

.h1{
    background-color: #667987;
    height: 1px;
    width: 96.7%;
    position: absolute;
    bottom: 50px;
    left: 20px;
}
.h2{
    background-color: #667987;
    height: 1px;
    width: 96.7%;
    position: absolute;
    top: 30px;
    left: 20px;
    
    /* margin-left: 15px; */
    /* margin-right: 10px; */

}
.h3{
    background-color: #667987;
    height: 1px;
    width: 96.7%;
    position: absolute;
    top: 50px;
    left: 20px;
    
    /* margin-left: 15px; */
    /* margin-right: 10px; */

}
