.mainProjectsContainer{
    position: relative;
    z-index: 200;
}

.peel{
    height:100vh;
    width:100vw;
    position:absolute;
    z-index:100;
    background-color:black;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
    top:0;
}
*{
    margin: 0;
    padding: 0;
}
.projectsContainer{
    /* background-color: #1e1e1e; */
    height: 100vh;
    color: white;
    display: flex;
}

.leftSection{
    /* background-color: aqua; */
    width: 50vw;
    
}
.rightSection{
    /* background-color: bisque; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-left: 1px solid white; */
}
.projectHeading{
    height: 14.15vh;
    /* background-color: aquamarine; */
    border-bottom: 2px solid white;
    color: #8f8a84;
    width: 88.5%;
    margin-left: 67px;
}
.projectHeading p{
    font-size: 2.5rem;
    margin-top: 31px;
    margin-left: 32px;
    
}
.projectHeading p:hover{
    /* font-size: 2.5rem; */
    color: white;
}

.projecth{
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 26px;
    font-size: 4rem;
}
.projecth p{
    margin-top: 75px;
    margin-left: 36px;
}
.projectimagediv{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projectimg{
    
    height: 250px;
    width: 250px;
    border: 2px solid white;
}