
*{
    margin: 0;
    padding: 0;
}
.projectsContainer{
    background-color: #1e1e1e;
    height: 100vh;
    color: white;
    display: flex;
}

.leftSection{
    /* background-color: aqua; */
    width: 50vw;
    
}
.rightSection{
    /* background-color: bisque; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid white;
}
.projectHeading{
    height: 15vh;
    /* background-color: aquamarine; */
    border-bottom: 2px solid white;
    color: #8f8a84;
}
.projectHeading p{
    font-size: 2.5rem;
    margin-top: 31px;
    margin-left: 44px;
    
}
.projectHeading p:hover{
    /* font-size: 2.5rem; */
    color: white;
}

.projecth{
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 26px;
    font-size: 4rem;
}

.projectimagediv{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projectimg{
    
    height: 250px;
    width: 250px;
    border: 2px solid white;
}