@font-face {
    font-family: headerfont;
    src: url(..assets/Spart-Regular.otf);
}

@font-face {
    font-family: ff;
    src: url(../assets/DMMono-Regular.ttf);
}

.header {
    font-size: 11vh;
    font-family: headerfont;
    color: white;
    
    position: absolute;
    top: 12vh;
    left: 4.3vw;
    
}

.main {
    position: relative;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.left {
    width: 50vw;
}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.li {
    position: absolute;
    top: 65px;
    left: 50px;
}

.line {
    position: absolute;
    background-color: #FFFF;
    width: 1px;
    height: 125px;
}

.line1 {
    position: absolute;
    background-color: #FFFF;
    width: 1px;
    height: 125px;
    transform: rotate(90deg);
    left: 45px;
    top: -45px;
}

.logo {
    position: absolute;
    /* height: 50px;
    width: 50px; */
    top: 65vh;
    left: 4vw;
}

.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 40vw;
    /* left: 57vw; */
    top: 2vh;
    /* background: red; */
    justify-content: center;
    /* align-items: center; */
    margin-left: 3vw;
}

.p1 {
    position: relative;
    color: #0078D4;
    font-family: ff;


}

.p2 {
    position: relative;
    color: #FFFF;
    font-family: ff;
}
.right .li {

    bottom: 65px;
    right: 50px;
}

.right .li .line {
    top: 250px;
    right: 457px;
    height: 85px;
}

.right .li .line1 {
    top: 220px;
    left: 904px;
    height: 85px;
    transform: rotate(90deg);
}

.right .re .line {
    top: 450px;
    right: 214px;
    height: 88px;
}

.right .re .line1 {
    top: 475px;
    left: 1200px;
    height: 85px;
}

.svideo {
    position: absolute;
    /* width: 50vw; */
    display: flex;
    /* align-items: center; */
    height: 30%;
    z-index: 69;
    bottom: 18vh;
    /* background: yellow; */
    /* justify-content: center; */
}

@media screen and (max-width: 1025px) {
    .header {
        margin: 13vh;
        margin-left: 7vw;
    }

    .text {
        margin-left: 5vw;
        margin-top: 5vh;
    }

    .ima {
        height: 28vh;
        width: 27vw;
    }

    .right .li .line {
        top: 275px;
        right: 362px;
        height: 85px;
    }
    .right .li .line1 {
        top: 242px;
    left: 589px;
    height: 85px;
    transform: rotate(90deg);
    }
    .right .re .line {
        top: 485px;
    right: 99px;
    height: 88px;
}
.right .re .line1{
    top: 80vh;
    left: 88vw;
    height: 85px;
}
    }

 /* @media screen and (min-width: 768px) and (max-width: 1000px) {
    .text{
        position: absolute;

    }
 } */

@media screen and (max-width: 900px) {
    .header {
        font-size: 8vh;
        margin: 15vh;
        margin-left: 8vw;
    }

    .logo {
        top: 71vh;
        left: 6vw;
    }

    .logo img {
        height: 17vh;
        width: auto;
    }

    .text {
        font-size: 0.74rem;
        padding: 4vh;
        height: 55%;
    }

    .ima {
        height: 20vh;
        width: 26vw;
        margin-left: 3vw;
    }
    .right .li .line{
        top: 339px;
        right: 243px;
        height: 85px;
    }
    .right .li .line1{
        top: 304px;
        left: 458px;
        height: 85px;
        transform: rotate(90deg);
    }
    .right .re .line{
        top: 485px;
        right: 67px;
        height: 88px;
    }
    .right .re .line1{
        top: 80vh;
        left: 87vw;
        height: 85px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        font-size: 9vh;
        top: 9.5vh;
        left: 33vw;
        margin: 0vh;
        background-color: black;
    }
    .logo {
        display: none;
    }
    .li{
        display: none;
    }
    .right .li{
        display: none;
    }
    .right .re{
        display: none;
    }
   
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        top:10vh;
        left: 3vw;
        font-size: 0.85rem;
        padding: 2vh;
        height: 55%;
        width: 86vw;
        position: absolute;
    }
    .p2{
        text-align: center;
    }

    .ytp-button {
        height: 15px;
        top: 70%;
    }

    .svideo {
        height: 22%;
    }

    .ima {
        height: 26vh;
        width: 50vw;
        bottom: -7vh;
        right: 0vw;
        position: absolute;
    }

    .html5-video-player a {

        font-size: 7px;
        position: relative;
        top: -11px;
    }
}

@media screen and (max-width: 376px) {
    .text {
        margin-top: 12vh;
        margin-bottom: 3vh;
    }
    .p2{
        text-align: initial;
    }
}