@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Khyay";
  src: url(../../../fonts/myanmar-khyay.ttf);
}

.mobile_buttons{
    visibility: hidden !important;
  }

  @media screen and (max-width: 786px) {
    .mobile_buttons{
        display: flex;
        flex-direction: column;
        visibility: visible !important;
        margin-left: -125vh;
        margin-top: 44vh;
      }
      
      .mobilebutton{
        border-radius: 50% !important;
        font-size: 1.2em;
        width: 7vh;
        height: 7vh;
        margin-right: 2vh;
        /* border: 3px solid white; */
        background-color: rgb(241, 239, 239);
        opacity: 0.8;
      }
      .mobilebutton:focus{ 
        transform: scale(1.3);
        opacity: 1;
        transition: all 0.2s;
      }
    }
