@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Khyay";
  src: url(../../../fonts/myanmar-khyay.ttf);
}

.buttons{
    border-radius: 50% !important;
    font-size: 1.5em;
    width: 9vh;
    height: 9vh;
    margin-right: 2vh;
    /* border: 3px solid white; */
    /* background-color: rgb(241, 239, 239); */
    background-color: yellow;
    opacity: 0.8;
  }
