*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 45rem;
  display: flex;
  flex-direction: row;
  background-color: #0d1213;
  padding-top: 100px;
  color: white;
  /* overflow: hidden; */
}

.mainContainer {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* overflow: hidden;
   */
}

.firstContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.firstContainer h1 {
  font-size: 6rem;
  transform: rotate(-90deg);
}

.secondContainer {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  flex-wrap: wrap;
  /* margin-left: 2.5%; */
  width: 75%;
  height: 90%;
  background: rgb(150, 67, 75);
  border-radius: 2rem;
  overflow-y: scroll;
}

.items {
  padding-left: 1.5rem;
}

.thirdContainer {
  display: flex;
  flex-direction: column;
  width: 10%;
}

::-webkit-scrollbar {
  width: 0;
}
