
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


@font-face {
  font-family: "Khyay";
  src: url(../../../fonts/myanmar-khyay.ttf);
}

 .container {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #0d1213;
  height: calc(100rem - 60px);
  padding-top: 80px;
  color: white;
} 

 .mainContainer {
  display: flex;
  width: 90%;
} 

 .firstContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 4vh;
} 

.zebra {
  padding-top: 16rem;
  margin-left: 2rem;
  margin-right: 2rem;
} 

.text {
  font-family: "Khyay";
  font-style: auto;
  font-weight: 500;
  text-align: left;
  height: 13.4vh; 
  padding: 0%;
  font-size: 12vh;
  margin-left: 7.5rem;
}

.secondContainer {
  height: 75vh !important;
  text-align: center;
  align-self: center;
  z-index: 0;
  width: 75vw !important;
}

.y{
  font-family: 'Alex Brush', cursive;
  font-weight: 100;
}

.thirdContainer {
  align-self: center;
  float: right;
  width: 10%;
  height: 120vh;
  margin-left: 3vh;
  margin-top: 24vh;
}
.image {
  width: 45vh;
	height: 53vh;
	position: relative;
}

.productCard{
  width:40vh;
}
.productCard__content{
  color: white;
  transition: .5s ease;
  text-align: center;
  height: 8vh;
  font-family: "poppins";
  margin-top:-5.5rem;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: -50px;
  text-align: center;
  position: absolute;
  width: 45vh;  
} 
.productName{
  font-size: 2.3rem;
  margin-top: 3%;
  vertical-align: middle;
}
.productCard__content:hover{
  transform: translateY(-8.5rem);
  opacity: 100%;
  background-color: rgba(0,0,0,0.5);
  color:white;
  height: 21.5vh;
}
.productCard__content:hover .productInfo{
  color:white;
  visibility: visible;
  transition: 0.5s;
}
.productCard__content:focus{
  transform: translateY(-11.9rem);
  opacity: 100%;
  background-color: rgba(0,0,0,0.5);
  color:white;
}
.productCard__content:focus .productInfo{
  color:white;
  visibility: visible;
}

.productInfo{
  visibility: hidden;
  font-size: 1.2rem;
}

.items{
  width: 80vh;
  height:60vh;
}

@media (max-width: 786px) {
  .container{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .mainContainer{
    text-align: center;
    width: 100%;
    overflow-y: hidden;
  }

  .text{
    font-size: 4.5rem;
    margin-left: 3.5vh !important;
  }

  .y{
    display: none;
  }
  .firstContainer{
    display: none;
  }

  .secondContainer{
    width: 60vw !important;
    height: auto !important;
    margin-left: 7vh;

  }

  .thirdContainer{
    margin-left: -11.5vh !important;
    margin-top: -82vh;
    transform: rotate(270deg);
    align-items: center;
    padding-top: 17vh;
  }
}

@media (min-width: 787px) and (max-width: 1180px) {
  .container{
    width: 160vh;
  }
  .text{
    font-size: 10vh !important;
    margin-left: -2vh;
  }
  .secondContainer{
    width: 75vh;
  }
  .image{
    width: 30vh;
    height: 45vh;
    margin-left: -10vh;
  }
  .productCard__content{
    width: 30vh;
    text-align: center;
    height: 6.5vh;
  }
  .productCard__content:hover{
    transform: translateY(-7.5rem);
    height: 15.5vh;
  }
  .zebra{
    margin-top: 15vh;
  }
  .thirdContainer{
    margin-left: -2vh;
    margin-top: 45vh;
  }

}
