@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Khyay";
  src: url(../../../fonts/myanmar-khyay.ttf);
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bdy {
  /* background-color: #0a0a0a; */
  /* height: 100vh; */
  width: auto;
  /* display: grid; */
  place-items: center;
  margin: 2rem;
}
figure {
  width: 14rem;
  height: 19rem;
  position: relative;
  background-color: #eaeaea;
  padding: 19px 19px 85px 19px;
  transform: rotate(-12deg);
}
figure img {
  width: 100%;
}
figcaption {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
figcaption {
  position: absolute;
  font-family: "Poppins";
  font-size: 25px;
  text-align: Left;
  color: #232121;
  margin-top: 22px;
  width: 50px;
  height: 100px;
}
figure:before,
figure:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 78px;
  background-color: rgba(230, 220, 209, 0.8);
  transform: rotate(-40deg);
}
figure:before {
  top: 9px;
  left: -30px;
}
figure:after {
  bottom: 1px;
  right: -40px;
}
figcaption img {
  height: 48px;
  width: auto;
  /* align-items: flex-end;
  margin-top: 20px; */
  padding-left: 140px;
  position: absolute;
  top: 0px;
  /* margin-bottom: 100px; */
}

@media screen and (max-width: 1200px) {
  figure {
    width: 13rem;
    height: 18rem;
  }
}

@media screen and (max-width: 1050px) {
  figure {
    width: 12rem;
    height: 17rem;
  }
}

@media screen and (max-width: 550px) {
  figure {
    width: 10rem;
    height: 15rem;
  }
}
