@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Khyay";
  src: url(../../../fonts/myanmar-khyay.ttf);
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  background-color: #0d1213;
  padding-top: 80px;
  color: white;
  z-index: -1;
  /* overflow: hidden; */
  /* overflow-y: scroll; */
}
 
.mainContainer {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
}

.firstContainer {  
  padding-left: 5rem;
}
.im1{
  display: flex;
}
.Dots{
  z-index: 0;
}
.Cross{
  padding-inline: 5rem;
}
.Arrow{
  padding-inline-start: 2.5rem;
}
.lines{
  padding-top: 0rem;
}
.Carousels{
  z-index: 1;
}

.secondContainer {
  display: flex;
  flex-direction: column;
}
.Lines2{
  position: relative;
  transform: rotate(90deg);
}
.Broadline{
 padding-top: 9rem;
}
.Alumni{
  font-family: 'Inter';
  font-weight: 700; 
  font-size: 40px;
  line-height: 139px; 
  padding-left: 5rem;
}
.Squarcle{

}
.p{
 padding-left: 4rem;
}

.thirdContainer {
  margin-top: 5%;
}

::-webkit-scrollbar {
  width: 0;
}
