@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Khyay";
  src: url(../../../fonts/myanmar-khyay.ttf);
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  padding-right: 1%;
  display: flex;
  background-color: #0d1213;
  padding-top: 4%;
  color: white;
  /* overflow: hidden; */
  /* overflow-y: scroll; */
}

.mainContainer {
  display: flex;
  /* flex-wrap: wrap; */
}

.firstContainer {
  height: 100%;
  margin-left: 10%;
  margin-right: 14%;
}

.im1 {
  display: flex;
}

.Dots {
  position: relative;
  left: -40px;
  bottom: -52px;
}

.Cross {
  padding-inline: 5%;
}

.Arrow {
  padding-inline-start: 25%;
}

.secondContainer {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
  font-size: 25px;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Lines2 {
  position: relative;
  top: -50px;
  transform: rotate(90deg);
  left: 250px;
}
.Broadline {
  position: relative;
  top: 10px;
  left: -350px;
}

.Alumni {
  position: relative;
  /* top: 50px; */
  right: 50px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 55px;
  line-height: 139px;
}
.Squarcle {
  position: relative;
  top: 0px;
  left: 250px;
}

.p {
  position: relative;
  top: 40px;
  width: 450px;
  right: 50px;
}

.thirdContainer {
  margin-top: 5%;
}

::-webkit-scrollbar {
  width: 0;
}
