.container::-webkit-scrollbar { 
    display: none;  
}


.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(19, 19, 19);
    color: white;
    animation: fadeIn 1s;
}

.left {
    min-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    min-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 24px;
}


.headingContainer {
    margin: 90px 60px 40px 60px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    z-index: 1;
}

.heading {
    font-size: 100px;
    font-weight: bold;
    color: #FFF6EB;
    font-weight: 900;
}

.headingItems{
    padding-left: 125px;
    display: flex;
    flex-direction: row;
}

.cross{
    width: 200px;
    height: 90px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-left: 16px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}

.communityImage {
    width: 100%;
    margin-bottom: 40px;
}

.joinDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    color: #F0F0F0;
    font-size: 24px;
    margin: 10px 0px 10px 0px;
}

.joinButton{
    width: 80px;
    height: 50px;
    background: #000000;
    border: 2px solid #F0F0F0;
    border-radius: 43px;
    color: #F0F0F0;
    font-size: 24px;
    margin: 10px 0px 10px 0px;
}

.buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}


.joinButtonCss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.discord, .linkedin, .twitter, .instagram{
    width: 30px;
    height: 30px;
}

a{
    color: #F0F0F0;
    text-decoration: none;
}


.circleLeft{
    height: 600px;
    /* position: fixed; */
    /* z-index: -1; */
    margin-top: 600px;
    z-index: 2;
}

.triangles{
    align-self: baseline;
}

.subHeading{
    display: flex;
    justify-content: flex-end;
    font-size: 100px;
    font-weight: bold;
    color: rgb(78, 78, 78);
    font-weight: 900;
}

.workshopHead{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.carousel{
    margin-top: -300px;
}

@media screen and (min-width: 2048px) {
    .right{
        font-size: 30px;
    }
}

@media screen and (max-width: 2560px) {
    .left{
        min-width: 30%;
        margin-right: 32px;
    }
    .right{
        letter-spacing: 2px;
        line-height: 1.5;
        word-spacing: 2px;
    }
}

@media screen and (max-width: 1565px){
    .triangles{
        display: none;
        visibility: hidden;
    }
    .superDiv{
        margin-top: 0;
    }
    .heading{
        font-size: 75px;
    }
    .cross{
        width: 150px;
        height: 70px;
    }
    .right{
        font-size: 24px;
    }
}


@media screen and (max-width: 1024px){
    .contentContainer{
        flex-direction: column;
    }
    .triangles{
        display: none;
        visibility: hidden;
    }
    .cross{
        width: 100px;
        height: 50px;
    }
    .subHeading{
        display: none;
        visibility: hidden;
    }
    .workshopHead{
        margin-bottom: 0;
        padding: 0;
    }
    .headingItems{
        padding-left: 0;
    }
    .listItem{
        margin: 1rem;
    }
    .heading{
        font-size: 60px;
    }
    .left{
        max-width: 50%;
        align-self: center;
        margin-top: 24px;
    }
    .right{
        font-size: 18px;
    }
    .joinButton{
        width: 60px;
        height: 40px;
    }
    .discord, .linkedin, .twitter, .instagram{
        width: 25px;
        height: 25px;
    }
    .joinDiv{
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .headingContainer{
        margin: 20px 36px;
    }
    .heading{
        font-size: 50px;
    }
    .left{
        max-width: 40%;
    }
    .right{
        font-size: 14px;
    }
    .joinButton{
        width: 3rem;
        height: 2rem;
    }
    .discord, .linkedin, .twitter, .instagram{
        width: 40%;
        height: 40%;
    }
    .joinDiv{
        height: 80%;
        align-self: center;
        font-size: 14px;
        width: 20%;
    }
}

@media screen and (max-width: 630px) {
    .joinDiv{
        width: 25%;
    }
}

@media screen and (max-width: 530px) {
    .heading{
        font-size: 2rem;
    }
    .left{
        max-width: 50%;
        margin: 1rem auto;
    }
    .communityImage{
        margin-bottom: 5px;
    }
    .joinDiv{
        width: 30%;
    }  
}
@media screen and (max-width: 440px){
    .headingContainer{
        margin:10px 12px;
    }
    .cross{
        width: 4rem;
        height: 2rem;
    }
    .left{
        max-width: 50%;
        margin: 1rem auto;
    }
    .communityImage{
        margin-bottom: 0;
    }
    .right{
        letter-spacing: 0.5px;
        line-height: 1.25;
        word-spacing: 1px;
    }
    .joinDiv{
        width: 35%;
    }
}

/* carousel media queries */
@media screen and (max-width: 1565px){
    .carousel{
        margin-top: 0;
    }
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}