.container::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(19, 19, 19);
  color: white;
  animation: fadeIn 1s;
}

.left {
  min-width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  min-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 24px;
}

.headingContainer {
  margin: 90px 60px 40px 60px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  z-index: 1;
}

.heading {
  font-size: 100px;
  font-weight: bold;
  color: #fff6eb;
  font-weight: 900;
}

.headingItems {
  padding-left: 125px;
  display: flex;
  flex-direction: row;
}

.cross {
  width: 200px;
  height: 90px;
  padding-top: 80px;
  padding-left: 50px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}

.communityImage {
  width: 670px;
  margin-bottom: 40px;
}

.joinButton {
  width: 300px;
  height: 50px;
  background: #000000;
  border: 2px solid #f0f0f0;
  border-radius: 43px;
  color: #f0f0f0;
  font-size: 24px;
  margin: 10px 0px 10px 0px;
}

.joinButton2 {
  width: 80px;
  height: 50px;

  background: #000000;
  border: 2px solid #f0f0f0;
  border-radius: 43px;
  color: #f0f0f0;
  font-size: 24px;
  margin: 10px 0px 10px 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.joinButtonCss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.linkedin {
  width: 30px;
  height: 30px;
}

.twitter {
  width: 30px;
  height: 30px;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

.circleLeft {
  height: 600px;
  /* position: fixed; */
  /* z-index: -1; */
  margin-top: 600px;
  z-index: 2;
}

.triangles {
  align-self: baseline;
}

.subHeading {
  display: flex;
  justify-content: flex-end;
  font-size: 100px;
  font-weight: bold;
  color: rgb(78, 78, 78);
  font-weight: 900;
}

.workshopHead {
  padding-left: 300px;
}

.carousel {
  margin-top: -300px;
}

@media screen and (max-width: 1485px) {
  .contentContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 1561px) {
  .triangles {
    display: none;
    visibility: hidden;
  }
  .superDiv {
    margin-top: 0;
  }
}

@media screen and (max-width: 592px) {
  .communityImage {
    width: 600px;
  }
  .heading {
    font-size: 80px;
  }
}

@media screen and (max-width: 850px) {
  .right {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .right {
    font-size: 20px;
  }
}
@media screen and (max-width: 496px) {
  .communityImage {
    width: 420px;
  }
  .heading {
    font-size: 80px;
  }
  .headingContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 440px) {
  .communityImage {
    width: 360px;
  }
  .headingContainer {
    margin: 0;
    margin-top: 100px;
  }
  .heading {
    font-size: 43px;
  }
  .headingItems > h1 {
    font-size: 60px;
  }
  .joinButton {
    width: 19rem;
    height: 3.5rem;
  }
  .joinButtonCss {
    gap: 1px;
  }
}
@media screen and (max-width: 320px) {
  .communityImage {
    width: 280px;
  }
}

@media screen and (max-width: 1200px) {
  .cross {
    display: none;
    visibility: hidden;
  }
  .subHeading {
    display: none;
    visibility: hidden;
  }
  .workshopHead {
    padding: 0;
  }
  .headingItems {
    padding-left: 0;
  }
  .listItem {
    margin: 1rem;
  }
}

@media screen and (max-width: 592px) {
  .workshopHead {
    font-size: 50px;
  }
}

/* carousel media queries */
@media screen and (max-width: 1565px) {
  .triangles {
    display: none;
    visibility: hidden;
  }
  .carousel {
    margin-top: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
