*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}

.wrapper{
  overflow-x:hidden;
}

.empty{
  width:100%;
  height:100vh;
}