.wind, .stage, .ring, .ind {
  width:100%;
  height: 100vh; /* Set all elements to 100vh height */
  transform-style: preserve-3d;
  user-select:none;
}

.wind, .stage {
  overflow:hidden;
  background:#000;
}

.ind, .ring , .container ,.stage,.wind {
  position: absolute;
}

.container {
  perspective: 2000px;
  width: 100%;
  height: 100vh;  
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.ind1 {
  background-color: none;
}

.ind2 {
  background-color: none;
}

.ind3 {
  background-color: none; 
}